.logDiv{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: 0 35% auto 35%;
 
  border: 1px solid red;
  padding: 15px;
}
#login,#signin{
  background-color: tomato;
  color:white;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-size: 18px;
}
h1{
  color: red;
  text-align: center;
}

#error{
  background-color: tomato;
  color: white;
}